In [43]:
# import Dependencies
import pandas as pd
import numpy as np
import os

In [44]:
# Set file path
measurements_path = ("clean_measurements.csv")
stations_path = ("clean_stations.csv")

# Import files and read into Pandas DataFrame
clean_measurements_df = pd.read_csv(measurements_path)
clean_stations_df = pd.read_csv(stations_path)

In [45]:
clean_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [46]:
clean_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [48]:
# Use `declarative_base` from SQLAlchemy
Base = declarative_base()

In [49]:
# Create ORM class for 'Measurements' table
class Measurements(Base):
    __tablename__ = 'measurements'

    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [50]:
# Create ORM class for 'Stations' table
class Stations(Base):
    __tablename__ = 'stations'

    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float) 
    elevation = Column(Float)

In [51]:
# Create an engine to a SQLite database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")

In [52]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [53]:
# Use `create_all` to create all the tables in the database
Base.metadata.create_all(engine)

In [54]:
# Use Orient='records' to create a list of data to write
measurements_data = clean_measurements_df.to_dict(orient = 'records')
stations_data = clean_stations_df.to_dict(orient = 'records')

In [55]:
measurements_data[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [56]:
stations_data[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [57]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind = engine)
metadata.reflect()

In [58]:
# Save the reference to each tables
measurements_table = sqlalchemy.Table('measurements', metadata, autoload = True)
stations_table = sqlalchemy.Table('stations', metadata, autoload = True)

In [59]:
# Use 'table.delete()' to remove any pre-existing data.
conn.execute(measurements_table.delete())
conn.execute(stations_table.delete())

In [60]:
# Use 'table.insert()' to insert the data into the table
conn.execute(measurements_table.insert(), measurements_data)
conn.execute(stations_table.insert(), stations_data)

In [61]:
# Test that the insert works by fetching the first 5 rows in measurements table
conn.execute('SELECT * FROM measurements LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]

In [62]:
# Test that the insert works by fetching the first 5 rows in stations table
conn.execute('SELECT * FROM stations LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]